# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV=development
PORT=5000

DATABASE_URL="postgres://8ae40ce2fb591f4db57ed4511104cbdb5a15afd40fe4190a739de8c99db327c1:sk_vzAwFvzHZMIqS4bk0oce2@db.prisma.io:5432/postgres?sslmode=require"

BETTER_AUTH_SECRET=1LBzcpxi65QBmX3d75s2A0DH43eUUl5r

BETTER_AUTH_URL=http://localhost:5000